<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cancer of the Earth</title>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grayscale" %>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Cancer of the Earth</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
		<a class="nav-link js-scroll-trigger" href="#endangered">Endangered Species</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#issues">Issues</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Cancer of the Earth</h1>
              <p class="intro-text">We are what's killing life on Earth. We need to open our eyes and do something about it
                <br>Created by Lopez, Azcarraga,Pilipiña</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About The Project</h2>
	    <p>This project was created to highlight the injustices we have caused
		and address the rising issue which is literally killing us and the animals around us.</p>
	    <p>In this website, we will show you the various effects of climate change on our Mother Earth.
		This includes details which help you realize just how bad the problem is. By showing you 
		these, we hope to be able to make you emphatize with the problem and help motivate you to 
		fight against this problem.
	    </p>
	    <p>
		Our objective is to bring light to the current situation that our country is facing and 
		help motivate you to try to do something about it. 
	    </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Endangered Species Section-->
    <section id="endangered" class="download-section content-section text-center">
      <div id = "speciesCarousel" class = "carousel slide" data-ride="carousel">
	  <div class = "carousel-inner" >
	      <div class = "carousel-item active">
		  <%= image_tag "sea", class: "d-block w-100" %>
		  <div class = "carousel-caption d-none d-md-block">
		      <h5>
			Endangered Species 
		      </h5>
		      <p>
			These species are now close to extinction due to climate change
		      </p>
		  </div>
	      </div>
	      <div class = "carousel-item">
		  <%= image_tag "butanding", class: "d-block w-100" %>
		  <div class = "carousel-caption d-none d-md-block">
		      <h5>
			  Butanding
		      </h5>
		      <p><em>
			  Rhincodon typus
		      </em></p>
		      <p>
			  <%= link_to "Picture from Animal Scene", "https://animalscene.ph/2018/02/02/the-butanding/" %>
		      </p>
		  </div>
	      </div>
	      <div class = "carousel-item">
		  <%= image_tag "tawilis", class: "d-block w-100" %>
		  <div class = "carousel-caption d-none d-md-block">
		      <h5>
			  Tawilis
		      </h5>
		      <p><em>
			  Sardinella tawilis
		      </em></p>
		      <p>
			  <%= link_to "Picture from National Geographic", "http://yourshot.nationalgeographic.com/photos/1572215/" %>
		      </p>
		  </div>
	      </div>
	      <div class = "carousel-item">
		  <%= image_tag "boneyfish", class: "d-block w-100" %>
		  <div class = "carousel-caption d-none d-md-block">
		      <h5>
			  Ray-finned fishes
		      </h5>
		      <p><em>
			  Altrichthys azurelineatus
		      </em></p>
		      <p>
			  <%= link_to "Picture from Wikipedia", "https://en.wikipedia.org/wiki/Altrichthys" %>
		      </p>
		  </div>
	      </div>
	  </div>
	  <a class="carousel-control-prev" href="#speciesCarousel" role="button" data-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#speciesCarousel" role="button" data-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	  </a>
      </div>
    </section>

    <!-- Issues Section -->
    <section id="issues" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Issues</h2>
            <p>This is what's killing our marine life</p>

          </div>
        <div class="row">
          <div class="col-md-3 mx-auto">
            <h4>Sewage</h4>
	    <p>Chemical pollutants in sewage eventually find their way into the ocean.
		The release of other chemical nutrients into the ocean’s ecosystem leads to reductions in oxygen levels, 
		the decay of plant life, a severe decline in the quality of the sea water itself. As a result, 
		all levels of oceanic life, plants and animals, are highly affected.
	    </p>

          </div>
          <div class="col-md-3 mx-auto">
            <h4>Toxic Chemicals from Industries</h4>
	    <p>
		Industrial and agricultural waste are another most common form of wastes that are directly discharged into the oceans,
		resulting in ocean pollution. The dumping of toxic liquids in the ocean directly affects the marine life as they are considered hazardous and secondly,
		they raise the temperature of the ocean, known as thermal pollution, as the temperature of these liquids is quite high. 
		Animals and plants that cannot survive at higher temperatures eventually perish.
	    </p>

          </div>
          <div class="col-md-3 mx-auto">
            <h4>Land Runoff</h4>
	    <p>
		Land runoff is another source of pollution in the ocean. This occurs when water infiltrates the soil to its maximum extent and the excess water from rain,
		flooding or melting flows over the land and into the ocean. Often times, this water picks up man-made, harmful contaminants that pollute the ocean,
		including fertilizers, petroleum, pesticides and other forms of soil contaminants.
		Fertilizers and waste from land animals and humans can be a huge detriment to the ocean by creating dead zones.
	    </p>

          </div>
          <div class="col-md-3 mx-auto">
            <h4>Large Scale Oil Spills</h4>
	    <p>
		Ship pollution is a huge source of ocean pollution, the most devastating effect of which is oil spills.
		Crude oil lasts for years in the sea and is extremely toxic to marine life, often suffocating marine animals to death once it entraps them.
		Crude oil is also extremely difficult to clean up, unfortunately meaning that when it is split; it is usually there to stay. 
	    </p>

          </div>
        </div>
      </div>
    </section>



    <%= javascript_include_tag "grayscale", "data-turbolinks-track" => true %>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>


  </body>

</html>
