<!DOCTYPE html>
<html>
  <head>
    <title>Cancer of the Earth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
    <!-- Footer -->
    <footer>
      <div class="container text-center">
	  <div class= "my-3">
		<h5>Want to help?</h5>
		<p>You can click <%= link_to "here", "http://www.marineconservationphilippines.org" %> to visit
		    the site for Marine Conservation Philippines. Or you can click
		    <%= link_to "here", "https://www.savephilippineseas.org" %> to visit the site for
		    Save Philippine Seas 
		</p>
	    </div>
	<p>Created by Gabriel Lopez, Cid Azcarraga, Jigger Pilipiña in fulfillment of requirements for Bio 1</p>
        <p>Copyright &copy; 2018</p>
      </div>
    </footer>
</html>
